[2015-12-08 02:48] BurntCaramel opened #1 "Arrow function"
Everything seems to be ES5 except the use of an error function

line 16:
[code]

line 42:
[code]

[2015-12-08 07:39] #1 closed

[2016-01-19 19:46] jonathanong opened #3 "Expose the data"
Where did you get the data? I'd like for it to be exposed so I can use it outside this library as well.

[2016-01-19 19:52] jonathanong opened #4 "don't create a constructor than initialize it"
makes it difficult to do `import { format } from 'currency-formatter'`

[2016-01-19 20:44] #3 closed

[2016-01-19 20:44] #4 closed

[2016-01-19 21:56] jonathanong opened #6 "support 0 decimal digits"
https://github.com/smirzaei/currency-formatter/blob/c5bebdb2bbef189d42f081cff5f5acc71db78b0f/index.js#L37

should be:

[code]

and the same with the other options

[2016-01-20 14:32] smirzaei commented on #6
Good catch... again :grin: and thanks. Let me know if I missed something.

[2016-01-20 14:32] #6 closed

[2016-02-08 12:40] aaronjpitts opened #7 "Global option for no decimal places?"
Hi, great script!

It would be useful to be able to set global options for each currency such as to not use a decimal place. Is this possible?

Many thanks

[2016-02-08 18:33] smirzaei commented on #7
Hi,

Do you mean something like this?
https://github.com/smirzaei/currency-formatter/blob/master/test.js#L143-L150

[2016-02-10 05:28] talgautb opened #8 "currency symbols"
Hi! good utility!
You have some mistakes, for example symbol of `KZT`.
I have [database of currency](https://github.com/talgautb/typographic-currency-db) (only official symbols)
You can just take it or use plugin. Also i can send PR after couple of days.

[2016-02-10 10:51] smirzaei commented on #8
Thanks for pointing it out, I got the data from someone in the company and still waiting for them to tell me where they got it from!

I think the best approach would be to update the symbols in the [currencies.js](https://github.com/smirzaei/currency-formatter/blob/3c224cbe1afd793f31b9d7e6b6eccc9c80317f04/currencies.js) file with the symbols from your repository.

I'm swamped at work these days so

[2016-03-11 10:18] talgautb commented on #8
#11

[2016-03-11 10:18] #8 closed

[2016-03-11 10:21] talgautb opened #12 "add new currency"
What about if add those currencies ?
- [x] FKP - £
- [x] MTL - ₤
- [x] SVC - ₡
- [x] BTC - Ƀ

[2016-03-11 10:26] smirzaei commented on #12
Yeah looks like the list is missing those... You can just add them to `currencies.js`.

[2016-03-13 02:36] jonathanong opened #13 "release v1.0.0"
this `0.0.x` versioning if very annoying to deal with :)

[2016-03-13 12:46] smirzaei commented on #13
I'm not very familiar with NPM. Should I just set the version to `1.0.0` and then push to NPM?

[2016-03-13 19:17] jonathanong commented on #13
Yes. Read up on semver!

[2016-03-14 10:03] #13 closed

[2016-03-21 20:35] #12 closed

[2016-05-03 12:54] ZeHiro opened #15 "Use non breaking spaces between amount and symbol."
This prevents to have a new line between amount and symbol. As the lib is for dislay purpose, not for calculation purpose, it shouldn't be a problem for users.
Maybe an additional 'global setting' could be used.
Thanks for the lib btw.

[2016-05-03 14:19] ZeHiro commented on #15
Could also be the case with spaces used for thousands separator

[2016-05-03 14:33] smirzaei commented on #15
Hi,

I'm not exactly sure what you mean by "non breaking space". Do you want to remove all whitespace from the output? If so just removing the whitespace after the output is generated should be much easier.

Something like

[code]

[2016-05-03 14:44] ZeHiro commented on #15
Hi,
I am talking about &nbsp; : https://en.wikipedia.org/wiki/Non-breaking_space
They are used to "stick" together the currency and the amount, but keeping the space in between. It is useful when you print the formatted price at the end of a line. The whole amount is put on a new line, in stead of separating the amount from currency. In some situations (using this library for website) I have :
[co

[2016-05-03 14:58] smirzaei commented on #15
Interesting, yeah it would be a good improvement! I guess if we use a non breaking space character  in `index.js`[[25](https://github.com/smirzaei/currency-formatter/blob/8656060b707d8b8c9461c7a7291d798a7c90bb9f/index.js#L25), [28](https://github.com/smirzaei/currency-formatter/blob/8656060b707d8b8c9461c7a7291d798a7c90bb9f/index.js#L28)] and every space character in the `currencies.js` like in lin

[2016-05-03 15:05] ZeHiro commented on #15
I'll try to do something.

[2016-05-03 15:06] smirzaei commented on #15
Thank you! :)

[2016-05-03 16:24] ZeHiro commented on #15
in fact the non breaking space is already used for thousands separators

[2016-05-03 17:12] ZeHiro opened #16 "get rif of lodash dependency"
The Array.prototype.find is part of ECMA 2015. Mozilla also provudes a polyfill for non supported browsers.
This will nake the library smaller.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find

[2016-05-04 08:38] smirzaei commented on #16
Yeah I'd like to get rid of that dependency as well. I wasn't very happy about this commit 852f10e4491dd96b9467a6e7c2186df293da2701, a polyfill sounds way better.

[2016-05-05 09:20] #15 closed

[2016-05-05 09:20] #16 closed

[2016-06-19 07:48] sahanDissanayake commented on #7
I think @smirzaei found the answer :)

[2016-06-19 07:50] sahanDissanayake commented on #7
That seems to just take the DOT . off ?!?!?

[2016-06-19 08:11] sahanDissanayake commented on #7
@smirzaei The issue is about REMOVING decimals I think.

So if the number is 10, then if it is formatted with USD you would normally get $10.00 and if someone set decimal to '' then you would expect the format to comeout just $10 ?

[2016-06-19 08:14] sahanDissanayake commented on #7
@aaronjpitts

Maybe you need
[code]

[2016-06-19 09:30] smirzaei commented on #7
Exactly, if you don't want the decimal points you can set the `precision` to 0.
I'm going to close this issue since it's been inactive for months.

[2016-06-19 09:30] #7 closed

[2016-08-22 22:06] sahanDissanayake opened #19 "CHF Symbol should be CHF."
@smirzaei

[2016-08-23 09:46] smirzaei commented on #19
#18

[2016-08-23 09:46] #19 closed

[2016-08-23 09:48] sahanDissanayake commented on #19
Will u publish on NPM soon ? thanks

[2016-08-23 09:51] smirzaei commented on #19
Yeah I just did, I think it'll take a few minutes for it to pick it up.

[2016-08-23 10:00] sahanDissanayake commented on #19
I think we may have to look in to this http://www.mcdonalds.ch/de/menukarte/menus/caesar-salad-grilled-chicken-menu 👍

[2016-08-23 10:10] sahanDissanayake opened #21 "Space between number and symbol"
If the symbol is on right and the space is added, should the space be added to the left of the symbol ?

`12.20CHF should be 12.20 CHF` ?

[2016-08-23 10:12] sahanDissanayake commented on #21
My bad, this is working !!!

[2016-08-23 10:12] #21 closed

[2016-08-23 10:13] smirzaei commented on #21
The space is always between the symbol and the value.
https://github.com/smirzaei/currency-formatter/blob/205711e0734ee90b183c6d8f43afcf52f33268a5/test.js#L91-L116

[2016-08-23 10:14] sahanDissanayake commented on #21
Yeah sorry, Did the test.js after issue was created..

[2016-08-23 10:15] smirzaei commented on #21
Glad it's working now :)

[2016-09-21 22:57] cfkenandy opened #22 "Commas for currency code 'INR'"
var number = 123456.789;
currencyFormatter.format(123456.789, { code: 'INR' });
 // this displays, "123,456.79₹" but should be, "1,23,456.789₹".

Is there a setting to adjust commas?

[2016-09-22 16:56] smirzaei commented on #22
Interesting issue... We are using [accounting.js](https://github.com/openexchangerates/accounting.js) to do the formatting for us, and I've been looking at their documentation and looks like there is no way for us to do this.

Checkout `accounting.formatMoney()` http://openexchangerates.github.io/accounting.js/#documentation

Right now, I can't think of a good and clean solution for this issue. Yo

[2016-09-22 17:10] cfkenandy commented on #22
ok, will reach out to them. thanks!

[2016-09-22 17:10] #22 closed

[2016-10-13 16:35] JoeGaebel opened #23 "Array Prototype Polyfill causes problems CoffeeScript"
This [commit](https://github.com/smirzaei/currency-formatter/commit/7ea07c35c0a578b90a352e3ca50ae6e6a29f8b4b) introduces a polyfill which doesn't play nicely with Repos which use CoffeeScript.

In particular, using `of` in CoffeeScript is turns into an `in` in Javascript which loops over keys you don't own.

[2016-10-13 17:25] ZeHiro commented on #23
I am not an expert, but it sounds weired. Normally you can include proper js inside coffeescript without any problem.

[2016-10-14 07:34] smirzaei commented on #23
I agree with @ZeHiro. I have zero experience with CoffeeScript but shouldn't it play nicely with raw JS?

I think adding the polyfill and removing the dependency on lodash was a good move, but nevertheless we shouldn't break compatibility.

Do you know which part of that polyfill is causing the problem? Maybe we can write it in a different way.

Hopefully some CoffeeScript experts can help us out,

[2016-10-17 04:52] zkhalapyan opened #24 "Negative values are not correctly handled"
Seems like the formatter doesn't handle negative values, below example prints out "$-10.00".

[code]

Is there an option that I will need to set or negative values are not supported?

[2016-10-17 07:43] smirzaei commented on #24
Interesting... I'll look into it.
Just to make sure, we should show it like `($10.00)` instead of `$-10.00` right?

[2016-10-17 08:38] ZeHiro commented on #24
@smirzaei I think this should be "-$10.00".
https://answers.yahoo.com/question/index?qid=20080220214302AA2N8kn

For sure, in Euro you would write "-10,00 €"

[2016-10-17 08:41] smirzaei commented on #24
Yeah I looked around and looks like both `($10)` and `-$10` are common.

http://ux.stackexchange.com/questions/1869/preferred-format-to-display-negative-currency-us-english

I'm going to add an option to allow the user to pick which format they want to use, but the question is which one should be the default?

[2016-10-17 08:49] smirzaei commented on #24
The best case scenario would be to pick the right format based on the user's locale. I checked how Java's `NumberFormat` acts in this situation and this is the result:

[code]

But unfortunately we don't have this kind of data.

[2016-10-17 08:54] smirzaei commented on #24
And the accounting library which we use to do the formatting. That's why the current version is displaying something like `$-10` right now.

https://github.com/openexchangerates/accounting.js/blob/15e38ac6d61460958c389cc319a837e7a0d6cfa7/tests/jasmine/core/formatMoneySpec.js#L11-L17

[2016-10-17 09:30] smirzaei commented on #24
PR: #25

I published a new version to NPM. Let me know if you're having any issues. :)

[2016-10-17 09:30] #24 closed

[2016-10-17 11:46] MarcDiprose67 opened #26 "1.0.5 error when formatting 0 value"
Hi, my app failed upon update today, it seems due to upgrading to 1.0.5 - when I call

currencyFormatter.format(0, 'GBP')

I get the type error of cannot find 'replace' of undefined.

Rolled back to 1.0.4 and it is fine

[2016-10-17 12:32] smirzaei commented on #26
Thanks for reporting this, I'll publish a new version with the fix soon.

[2016-10-17 12:34] #26 closed

[2016-10-17 12:40] smirzaei commented on #26
Published a new version and we have tests for zero values so it wouldn't happen again :p

https://github.com/smirzaei/currency-formatter/blob/d87755c55beb19ac941282d58d17ae64d9d04d9a/test.js#L14-L17

[2016-10-18 19:43] naganowl commented on #23
In CoffeeScript, you can do something like

[code]

which turns into

[code]

which will log `foo`. This will not happen with `lodash.find`.

[2016-10-18 20:58] ZeHiro commented on #23
I see the problem with using `in` or `of`, but here, they are not used in the Polyfill. loadash.find weighs 84k. Isn't the problem a problem of variable scoping?

[2016-10-19 01:03] naganowl commented on #23
The problem is when using this library with other code, since we manually added a method to the prototype, when other code executes the native `for..in` loop on an array it will go over `find` where it previously would not have.

[2016-10-19 05:21] ZeHiro commented on #23
OK, makes more sense. thanks

[2017-02-01 10:36] edorivai opened #29 "EUR symbolOnLeft per country"
Very useful library, thanks for sharing!

So this is a major pain in the ass, and not specific to this library at all, but placement of the euro sign (€) differs between countries.

[Quote](https://web.archive.org/web/20100218184700/http://www.delidn.ec.europa.eu/en/references/references_5.htm#Q12) from the European commission:

The app I'm working on requires correct placement across locales, so

[2017-02-01 11:10] edorivai commented on #29
Dove into it a bit more, and found the problem to be even more complex :tada:

Take a look at this table: http://www.evertype.com/standards/euro/formats.html

It shows a couple different Euro formats:
1.234,56 €
1 234,56 €
€1.234,56
€1,234.56

Note that not only location of the sign differs, but the separators (`.`, `,`, ` `) differ as well.

[2017-02-01 11:49] smirzaei commented on #29
I see, and I agree how this can be a problem. I'll try to do some experiments after work.

We'd need to take locale as a parameter and use it for formatting, but our data structure won't really allow this, we'd need to duplicate the data which is not ideal.

There is another way, which I've seen in Java and .NET world, for example Java has a class called `NumberFormat` which takes a locale and for

[2017-02-01 13:44] edorivai commented on #29
I have a couple of suggestions!

First off, I checked the ECMAscript [Intl](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat#Examples) api, which allows you to do this:

[code]

Which looks awesome, and might be the ideal way to do it. Except that it turns out that not all browsers format all currencies the same for all locales. For example, I found tha

[2017-02-01 14:53] edorivai commented on #29
See #30 for suggestions and a first attempt to an implementation.

[2017-02-01 17:44] smirzaei commented on #29
Excellent find, I didn't know about `Intl` API.

Either way you are more than welcome to extend this library, as long as it's backwards compatible and efficient :)

For this case I think allowing user to pass the locale as an optional parameter would be ideal, something like

[code]

Sorry I can't be much of help, have a ton to do at work these days.

Let me know if you have any questions :)

[2017-02-01 17:45] smirzaei commented on #29
For some reason didn't see the PR, I'll check it out soon.

[2017-02-03 05:24] kgn opened #31 "Option to Remove `.00`"
It would be nice if there was a option to remove `.00`, but leave cents if there was a value.

[code]

[2017-02-03 15:02] smirzaei commented on #29
#30

[2017-02-03 15:02] #29 closed

[2017-02-03 19:10] smirzaei commented on #31
Great suggestion, this should work for now until I get the chance to add the option.

[code]

[2017-02-03 19:11] smirzaei commented on #23
Could you checkout and see if you're still having this issue with the latest version please? Thanks!

[2017-02-06 14:40] oncletom opened #34 "One export per currency?"
It happens that including all the currencies adds up 30K in a webpage (against ~2K for the lib itself).
It is useful when the currency value is dynamic and not predictable.

Although in some (many?) cases, the list of currencies is deterministic. When you use only one or two currencies, the cost of including the lib should not be higher than 3KB.

[code]

Internally, it means that `currency-format

[2017-02-07 07:53] smirzaei commented on #34
I really like this idea! A little while ago I was thinking about restructuring this library (maybe a complete rewrite with a major version bump?)

[code]

I think it's pretty much what you're suggesting, but I really don't know if we can use the node's file APIs or how can we also have a ES5 compatible version.

/discuss

[2017-02-07 15:43] oncletom commented on #34
Yeah I guess if you make `index.js` being the core function which expects to be passed a fully formatted object (that you require/import or write manually), it would simplify a lot of stuff. No need for a `:currency/index.js` file this way.

[code]

All currencies could be available for people having to deal with a lot of them:

[code]

[2017-02-07 17:02] DavidBruant commented on #34
I'm not sure I follow the consideration of the file API.
In any case, if you want to publish an NPM package that is available both in ES5 and ES6 format, I think what you need to do is:
* Have your source code in ES6 (at least the module syntax)
* Use the [prepublish lifecycle script](https://docs.npmjs.com/misc/scripts) to generate the ES5/CommonJS version (you can use Babel for the conversion)
*

[2017-02-07 17:12] DavidBruant commented on #34
ok, I get it

I think you'll need to do it manually like d3.js does:
https://github.com/d3/d3/blob/master/index.js

or of course, you can have a build tool that generates this for you. This build tool will use the file API

[2017-02-07 17:13] oncletom commented on #34
+1 on what @DavidBruant just wrote – if it is not manual, it has to be generated in a way which makes currencies exports static and _pure_.

[2017-02-07 18:45] smirzaei commented on #34
I see... Yeah having a build file makes sense. I'll read up on the `module` field in package.json to see how it's used.

But even though these changes don't seem to be that time consuming, I don't think I'm going to find the free time to make these changes for at least a month. (I'll try to though, these changes sound really interesting!) Of course if you can you are more than welcome to to send a

[2017-02-22 19:12] domoconnell opened #35 "Issue with currencies.json and localeFormats.json"
I've been using this in a small application for a few months, on a new deployment I found it doesn't work anymore.
I'm getting issues with currencies.json and localeFormats.json

ERROR in ./~/currency-formatter/currencies.json
Module parse failed: /node_modules/currency-formatter/currencies.json Unexpected token (2:6)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpe

[2017-02-22 19:27] smirzaei commented on #35
Could you tell us a bit about your environment?
For now I'd suggest using `1.0.8` version.

cc @edorivai

[2017-02-22 20:56] edorivai commented on #35
Is that a webpack error? If so did you try adding a json loader? I'm on a phone now, can take a proper look tomorrow.

[2017-02-23 09:00] edorivai commented on #35
So I think I've verified this is a webpack error. It occurs because, by default, webpack 1 doesn't handle JSON files. If you want to use the latest version of this library, there are two ways of fixing this within your webpack environment:

1. Use the webpack [JSON loader](https://github.com/webpack-contrib/json-loader)
2. Migrate to [webpack 2](https://webpack.js.org/guides/migrating/), which han

[2017-02-23 10:03] domoconnell commented on #35
@edorivai Thanks very much. It was indeed a web pack loader issue. I've just added the json loader which works great. I wouldn't have thought it was a breaking change, I was just being stupid ;-) Up to you though.

[2017-02-23 11:05] smirzaei commented on #35
@edorivai I don't think we should consider this as a breaking change, since it's happening only in webpack1. Also thank you very much for helping out.

@domoconnell Glad to hear that this issue is fixed, sorry for the inconvenience!

I guess there is no point in keeping this open then.

[2017-02-23 11:05] #35 closed

[2017-02-27 21:05] brandondurham opened #36 "Possible to retrieve the unformatted version?"
If I have the string `$2,000.00` that was formatted by currency-formatter, is it possible to _remove_ formatting and return it to a pure Number?

In this instance I would love to return `2000.00`.

[2017-02-28 09:55] smirzaei commented on #36
No, sorry. Formatting is only one-way at the moment, but having a parsing feature sounds interesting.

[2017-03-28 16:52] Gwened opened #37 "Confusion between currency and locale formats"
It seems this lib only allows one format per currency.
However, the format, in particular symbolOnLeft, usually depends on the locale.
For example, I think Canadians speaking French will use 5$ while English speakers write $5.
In a similar way, if I'm targeting brits traveling in Europe, I would write €5 instead of 5 €.

Is there something I'm missing?

[2017-03-28 17:28] smirzaei commented on #37
The locale specific formatting is a bit tricky.

@edorivai created a solution for us to be able to format currencies based on user's locale but you won't be able to format `USD` currency for `en-GB` locale for example. It will show the `£` symbol in that case. Checkout #29

Some examples:

[code]

Our locale formatting data is very limited at the moment. You can add the missing locales here [local

[2017-03-29 10:20] edorivai commented on #37
I created the locale based formatting, only for the use case of formatting the currency that corresponds with that specific locale. Frankly, I didn't even think about formatting a different locale. However, the current setup still allows you to use a locale based format for a different currency!

@smirzaei is right, the locale formatting data is very limited, I only added the nuances in rendering

[2017-03-29 10:23] edorivai commented on #37
Oh, and if it wasn't clear already, after adding your locale formatting, just use it like so:

[code]

Output will depend on your implementation of the locale format of course :)

[2017-03-29 11:16] edorivai commented on #34
Sorry I'm late, but thought I'd chime in a bit. I think a nice way to do it would be something similar to how react-intl does it:

[code]
I'm seeing this pattern in more places (moment.js for example). This allows for bundlers (like webpack) to only include the locale specific files that are required. In addition to this mechanism, having a main file that includes all languages is useful in cases

[2017-03-29 11:54] smirzaei commented on #34
I haven't had much time to think about this #StartupLife but overall I think this could work.

File structure:

[code]

[2017-03-29 12:07] smirzaei commented on #34
I haven't had much time to think about this #StartupLife but overall I think this could work.

File structure:

[code]

Usage when the currency is known before hand

[code]

Usage when the currency is dynamic

[code]

Both locales and custom overrides objects are optional and they just override the fields from the previous objects. Similar to how object assign works.

Let me know if it makes sense

[2017-03-29 14:08] edorivai commented on #34
I mean, in broad strokes your approach is similar to what I see used in big libraries. But what I like about the react-intl approach is that you can do a one-time setup of the locales that you will need, and afterwards don't need to think about importing them any more.

I like the current API `format(1234, { locale: 'en-GB' })` or `format(1234, { code: 'GBP' })`, and we could keep that simplicity,

[2017-04-05 11:14] sanjeevkpandit commented on #31
@smirzaei The above `precision` function works for $12.00 -> $12, but does not seem to work for $12.435 -> $12.435(output result = $12.44). It always returns value with 2 decimal places for `precision=null` instead of returning the exact number of decimal places in input value.

Also, it does not seem to work for $12.20 -> $12.2(output value = $12.20).

Here is the code:
[code]

Output:
[code]

[2017-04-05 15:32] smirzaei commented on #31
@sanjeevkpandit I'm not exactly sure what you are asking but I'm guessing that you want to always hide the decimal points.

The function above is for removing the decimal points only if it's `0`. You can use `precision: 0` to always hide it.

[code]

[2017-04-05 15:39] sanjeevkpandit commented on #31
@smirzaei I got your point. So, basically we have to pre-define the precision value else, there are always two decimal points even if the input(not having 0 as decimal values) has 1 or more decimal points.

For e.g. 12.43566 will return $12.44 not $12.43566.

Am I right here?

[2017-04-05 16:08] smirzaei commented on #31
@sanjeevkpandit Yes, the `precision` option is there for you to force the number of decimal points that you want to display. Otherwise it will read it from the currency data. (which is 2 in most cases)

[2017-04-05 16:47] sanjeevkpandit commented on #31
@smirzaei Okay. But, the thing is that the output gives exactly 2 decimal points even if the input contains more than 2 decimal points. Is this okay or the output should contain the exact number of decimal points as of input?

[2017-04-05 17:15] smirzaei commented on #31
@sanjeevkpandit this is exactly the purpose of this library, to show price in a format which makes sense for the user. In your example `$12.43566` looks unconventional.

I would say this is okay for 99% of the use cases unless you need to show very accurate pricing information and include the mills, like accounting for example.

[2017-04-05 17:25] sanjeevkpandit commented on #31
@smirzaei Got it. Thanks for clearing this out for me.

[2017-04-13 19:41] mesaugat opened #40 "Browser build?"
Any chance of a browser build for the package?

So that we could directly use it in a browser using a `<script>` tag.

[2017-04-14 06:40] smirzaei commented on #40
Interesting idea... We can do it after #34 if more people would find it useful.

[2017-04-15 17:25] edorivai commented on #36
Did you look at `accounting.unformat`?

[code]

[2017-04-15 19:03] edorivai opened #41 "Full rewrite proposal"
@smirzaei already hinted that it might be a good idea to do a full rewrite of this library. I've been thinking a bit, and I'd like to share some of my thoughts of what I think would be good to include in a rewrite.

Perhaps we could use this issue as a place to discuss, and as a central place to monitor the progress of these issues once we start implementing them.

## A quick overview:

- Getting

[2017-04-15 20:03] smirzaei commented on #41
Great sum up. Thanks @edorivai as always :grin: and I agree with pretty much every point you made 🙂

Just one thing.... Changing the locale structure doesn't seem very straightforward to me and I don't see an easy way to find the `defaultLocale` here:
[code]

Plus our locale data is very sparse.

If we keep both object structures the same (currency and locale) then we can use them to override each

[2017-04-17 12:27] edorivai commented on #41
Very welcome :smile: , happy to help.

Seems like the only thing open to discussion is the data structure. First off, my data structure proposal was mostly meant as an opening to this discussion. Perhaps it's worth it to forget the current data structure for a minute, and think about what would be ideal.

I actually came to the realization that we're currently mixing three types of information:

1

[2017-04-17 15:04] edorivai commented on #41
I made a quick 'n' dirty proof of concept: https://github.com/edorivai/currency-formatter/tree/rewrite

[2017-04-17 15:09] edorivai commented on #41
Out of time now, but ran into a couple of issues which we would need to address. I'll write them up later.

[2017-04-18 07:24] smirzaei commented on #41
Awesome! I was a little skeptical about using the `Intl` APIs but looks like it has everything we need and I'm all for removing dependencies 😁

Also I agree with the points you made... I really don't think anyone wants to override `thousandSeparator` and `decimalSeparator` and keep the values for `symbolOnLeft` and `spaceBetweenAmountAndSymbol`

With this design in mind... I think we can delete ou

[2017-04-18 08:02] edorivai commented on #41
I'm not following you here. Locale data is useful if a single currency is displayed differently across locales. The Euro is a very good example for this: `€12,34` in `nl-NL`, `12,34 €` in `de-DE`. This is the whole reason why I wanted locale data in the first place. I mean, I could easily maintain my own locale specific library of formats for the locales we support in our project, but these format

[2017-04-18 08:12] smirzaei commented on #41
Never mind you are right. I thought we wouldn't need that information since we just pass the locale name when instantiating a new `NumberFormat` but we still need to read `symbolOnLeft`, `spaceBetweenAmountAndSymbol` (maybe more?) properties from our locale data.

[2017-04-18 08:17] edorivai commented on #41
This would be true if we could use `{ style: 'currency' }` on the NumberFormat. I mean, you can, and probably a lot of people should if they don't care so much about correctness and consistency of the format.

I wouldn't know what else. I would still like to support passing custom a `format`, like we do now:

[code]

[2017-04-18 08:25] smirzaei commented on #41
No I don't think it's a good idea. The only point of using this library over directly using `Intl` APIs is to have consistent formatting across all browsers. Also `NumberFormat` with `{ style: 'currency' }` sometimes returns values that are (while correct) weird to see. For example `USD $123.00`  or `CA$123.00`

[2017-04-18 08:35] edorivai commented on #41
Aha. Yeah I guess the spec and implementations need to mature. I'll be happy when this library is completely obsolete :smile:. I'll see when I can find some extra hours to polish this proof of concept, and write up the issues that we need to work out.

For now a quick one:
You outlined an API that allows an arbitrary number of configs to be passed like so:
[code]
I really like this, but I also lik

[2017-04-18 08:48] smirzaei commented on #41
Hmm maybe have a different function if the user just wants to pass the currency code:

[code]

I think that would be the case when the currency is dynamic so a more consistent approach would be this:

[code]

[2017-04-18 08:54] edorivai commented on #41
I like the idea of a different function!

That's indeed more consistent, but I like to have an alternative API where only the currency and locale *code* are specified. My biggest concern with your last snippet is that this requires users to basically add 3 import lines to each file where they need to format a currency. The global `addCurrencies()` that we discussed earlier in combination with `for

[2017-04-18 09:26] smirzaei commented on #41
Yeah you are right I didn't think about the global `addCurrencies` and `addLocales` functions. If you think we should have a simpler function for people to use `formatByCurrencyCode` then we definitely should have it ;)

The reason I'm not a big fan of it being in the `format` function is when I think about the signature of its parameters, it has to be consistent. (Coming from a static typed backg

[2017-04-18 09:56] edorivai commented on #41
I completely agree, and share your worries. That's why I wanted to discuss this, my alarm bells are going off at my current implementation :stuck_out_tongue_closed_eyes:

I think we want a fixed order in which configs are applied. This one makes sense to me:
1. Currency
2. Locale
3. Custom overrides

Actually, I'm now starting to feel better about:
[code]
I think the most common use cases are (in

[2017-04-18 10:13] smirzaei commented on #41
My point was that the `format` function should only accept a `Currency` object and `{ currency: 'USD' }` doesn't really fit.

I'll try to create an example a bit later so we can discuss it better :)

[2017-04-18 11:02] edorivai commented on #41
I understood that, and I agree that we should make the function parameters explicit. For me this would be explicit enough:
[code]
Where `options` and `customConfigs` are optional.

[2017-04-23 17:13] Gwened commented on #37
Thank you for considering this issue.
In the meantime, I found the currencyFormatter.js lib from OSREC.
While some features are missing, the currency and locale formats can be set separately.
FYI you can find my fork here, adding the ability to display prices as integers:
https://github.com/Gwened/currencyFormatter.js

[2017-05-02 08:10] edorivai commented on #37
@Gwened thanks for the link to currencyFormatter.js. That's a really cool lib, especially their base of currencies and locales. I'm gonna see if I can reuse their config base in this lib. It seems that they don't support code splitting (in other words; only including the currencies and locales that you want to support), which is something we're looking into for v2.

[2017-06-27 19:34] burrack commented on #41
are you still think to rewrite everything ?
also, the API will change ?

[2017-06-27 19:36] burrack opened #42 "expose accounting.unformat function"
Hey :)

It would be nice to have the accounting.unformat function here.
I don't want to import your lib and import your library your are using

[2017-06-28 08:25] edorivai commented on #42
Just FYI, if you import a version of accounting that is compatible with the version that we require in currency-formatter, npm (or yarn) will probably share the dependency. So you wouldn't have any extra code in your project.

[2017-06-28 15:09] burrack commented on #42
you right :) you can close this

[2017-08-03 08:12] ICiscoStu commented on #40
this would be very very very helpful to keep consistency between client and server formatting :)

[2017-08-24 08:20] davidmpaz commented on #42
Hi,

why close it? I think the initial idea is legitimate and provides value.

Could this be built on this library?

cheers

[2017-08-24 09:17] edorivai commented on #42
I think you could just do

[code]

No need for this library to expose it, right?

[2017-08-24 11:41] davidmpaz commented on #42
You are right, but ...

would not make it better if we have a facade on this module like we have in `format`?

I think it would even look more natural, to offer both posibilites (read/write) a number as money. I was thinking in the value added by currencies data in here. Maybe the right question now would be:

What value does this module add for using it and not just do:
`accounting.formatMoney(49

[2017-08-24 12:49] edorivai commented on #42
I'm not sure I correctly understand your point.

Perhaps this is useful, I see it as follows:

The value added of this module is in its formatting data. It provides consistent formatting given a certain currency or locale.

Two alternatives and their issues:

1. `accounting`. You'll have to provide the currency symbol, separators, and decimal count yourself.
2. browser native `Intl` API. As far as

[2017-08-24 13:59] davidmpaz commented on #42
Indeed is useful,

lets try to continue from these ideas and lets ask now:

Does something of what you explained apply the same to the `unformat` function?

Is there any possible kind of improvement to: `accounting.unformat("£ 12,345,678.90 GBP")`

What if I have only this as input: `"2550,00"`? This could be many things depending of the locale, my point was that, one level more of abstraction cou

[2017-08-25 08:25] edorivai commented on #42
Ah! I totally get your point now!

I actually dove into it a little bit more, and it turns out that `accounting.formatting` doesn't ready any of the currency information from the input string. It just strips it, and assumes the default decimal character, unless you explicitly specify it:

[code]
...which I'm pretty sure should be 10, given that the Suisse used the comma as the decimal separator.

[2017-08-25 12:37] davidmpaz commented on #42
Hi

thanks for coming back. Currently I have no time. I can try to get it done but I think it will take time for me right now, since I would need to read the current API and then workout the solution. No earlier than in two or three weeks. Sorry :(

For now, since we are already in same page, lets keep this open then

Regards

[2017-09-11 20:54] edorivai commented on #42
@z0mt3c implemented it :) Thanks again.

[2017-09-11 20:55] edorivai commented on #42
@smirzaei could you cut a minor release to npm? :smile:

[2017-09-12 18:03] smirzaei commented on #42
Thanks for the help and sorry I wasn't around for this.

I'll update npm in a few mins :)

[2017-09-14 12:02] davidmpaz commented on #42
Hi guys,

thanks for taking care of this. Please @smirzaei or @z0mt3c can the docs get updated to know how to use the new functionality.

We can always look at code, but is better to have it in README.

thanks again!!
cheers

[2017-09-16 12:55] smirzaei commented on #42
Thanks everyone for taking care of this. I updated the readme with the unformat docs.

I guess we can close this.

[2017-09-16 12:55] #42 closed

[2017-09-16 12:58] smirzaei commented on #36
We now have this feature. Thanks to #44 and #42

Check out the readme for the documentation :) (https://github.com/smirzaei/currency-formatter/commit/43db0c103b0ac1c4a4b9e36518b2523e1ec5798d)

[2017-09-16 12:58] #36 closed

[2017-10-09 07:22] #34 closed

[2017-10-31 15:30] MMueller86 opened #45 "German Local wrong"
Hi,

the german local should also use the point as a thousand seperator. But the implementation is only showing a blank.

As a workaround I am using the netherland locale...
(Both should be the same)

Current Implementation of 1,000,000.00: --> 1 000 000,00 €
Correct german usage: 1.000.000,00 €

With kind regards!

[2017-11-02 06:05] smirzaei commented on #45
Thanks for letting us know.
I added the `de-DE` locale based on your description. Let me know if it's not right or feel free to modify the [locale data](https://github.com/smirzaei/currency-formatter/blob/6cf0e4616c2bee79f6d28fca02695acdf9434034/localeFormats.json#L51-L57) and send us a PR :)

Cheers

[2017-11-02 06:05] #45 closed

[2017-11-02 23:11] MMueller86 commented on #45
Thanks, it is working!
(only the doc on the mainpage is not anymore up2date)

cheers

[2017-11-03 05:26] smirzaei commented on #45
Yeah you are right 😅, I'll take care of it.

[2017-11-22 15:34] sumitnitsurat opened #46 "Can not override formatting options i.e symbolOnLeft, spaceBetweenSymbolAndNumber etc."
I want to override the default setting for a currency so that I can provide space between symbol and number while setting the currency as USD. currency it comes from the currencies.json file and we can not override it.

[2017-11-29 11:34] EmirGluhbegovic commented on #46
I am also looking for a way to add a space between the currency symbol and the the value.

[2017-12-01 05:03] smirzaei commented on #46
You can override format pattern like this
[code]

Let me know if it doesn't work for you.

[2017-12-01 05:51] EmirGluhbegovic commented on #46
@smirzaei Thank you! That command works.

[2017-12-01 07:33] smirzaei commented on #46
I'm glad. Looks like this is resolved then.

[2017-12-01 07:33] #46 closed

[2017-12-01 07:34] EmirGluhbegovic commented on #46
Would suggest to update this on the read-me or somewhere so its easier to find.

[2017-12-07 15:07] RShergold opened #47 "add currency name to currencies.json"
I absolutely love this repo. Thanks for creating it!

The one thing It's missing for me is the name of the currency which I use when the user is selecting their currency from a menu. I've pulled in the names from [this gist](https://gist.github.com/Fluidbyte/2973986) which is fine but adding it to the repo will make things much cleaner.

Thanks again and keep up the good work!

[2017-12-15 11:00] smirzaei commented on #47
It's a nice thing to have in my opinion. I'll try to add the names to our data from the gist you linked, but if you are in a hurry feel free to send a PR :)

Sorry for the late reply btw

[2017-12-31 17:24] rossfishkind opened #48 "BHD incorrect format"
I noticed when formatting `BHD` (Bahraini dinar) that it doesn't follow the template you set up. Is this because LTR languages are set up to be the opposite in the format?

In the `currencies.json` file, `symbolOnLeft` is marked as `true`, however the symbol displays on the right when formatting.

If I change the currency file to have an alphanumeric symbol for `BHD` such as `BD` it displays corre

[2017-12-31 17:40] #48 closed

[2018-01-23 22:51] mmarvick opened #50 "Locale's currency is detected case-insensitively while locale-specific formatting is detected case-sensitively"
The mapping between a locale and the currency is done case-insensitively, but the mapping between a locale and its locale format is done case sensitively. This can cause a locale's currency to be recognized, but not the formatting, if the user is not careful.

[code]

[2018-02-13 11:26] aayushis12 opened #51 "option decimal in format function"
Version used:
"currency-formatter": "^1.3.2"

My function accepts a number and changes it to USD. Since I don't want decimal values, so I have specified the decimal option as zero.
`
export default (amount) => {
	return currencyFormatter.format(20,{code: currency, decimal: 0});
}`

The expected output should be $20
But the output comes as $20000

Similarly, if I write the code like this
`
export d

[2018-02-13 13:05] edorivai commented on #51
`decimal` is used to specify the decimal separator, which is usually a comma `,` or a dot `.`. You probably want `decimalDigits`:

[code]

[2018-02-14 06:46] aayushis12 commented on #51
but why is decimal:0 adding extra zeroes to my number?

[2018-02-14 10:38] aayushis12 commented on #51
Thanks @edorivai . I solved it using precision `export default (amount) => currencyFormatter.format(20,{code: currency, precision: 0});`

[2018-02-19 09:02] #51 closed

[2018-02-19 14:08] lil5 opened #53 "Bitcoin code wrong"
'BTC' not correct
'XBT' correct

[2018-02-20 08:43] smirzaei commented on #53
You are right. I'll take care of it.

[2018-02-20 09:09] smirzaei commented on #53
Let us know if there are any issues! :slightly_smiling_face:

[2018-02-20 09:09] #53 closed

[2018-03-08 14:19] nunocf commented on #41
I'm willing to give a hand to get this library rewritten and a bit more customizable if you need any more colaborators.
Send me a message if you're looking for help.
This is an extremely valuable piece of code that helps lots of people. :)

[2018-03-25 15:00] #40 closed

[2018-04-04 17:09] LluisArevalo opened #55 "Error in format with code, locale & precision"
I'm testing my application, and I have included some tests that cover the behaviour managed by `currency-formatter`, and I'm having the following issue:

![Unexpected failure](https://user-images.githubusercontent.com/14905088/38322552-027ba37c-383b-11e8-8d62-79733ceade83.png)

I have been digging a little bit into the problem by buffering the received value and the expected value, and I found out

[2018-04-13 12:27] StErMi opened #56 "extend with new currency (crypto)"
Is it possible to extend the number of currency supported via code?

[2018-04-13 15:27] edorivai commented on #56
You mean you want to add a missing currency? If so, we gladly accept PR's to [`currencies.json`](https://github.com/smirzaei/currency-formatter/blob/master/currencies.json), and [`localeFormats.json`](https://github.com/smirzaei/currency-formatter/blob/master/localeFormats.json) :smile:

[2018-04-13 16:00] StErMi commented on #56
I would like to add missing currency for cryptos. Is there a way to add it
only for me? I don't think everyone would be interested.

On Fri, Apr 13, 2018 at 5:27 PM Edo Rivai <notifications@github.com> wrote:

[2018-05-15 14:03] GearoidCollins opened #57 "Incorrect format for Indian Rupees (INR)"
Said I would raise this for awareness.

We had this formatting issue internally and was going to look into using an external module, but it seems to be commonly overlooked.

https://en.wikipedia.org/wiki/Indian_numbering_system

[2018-05-16 07:28] edorivai commented on #57
What would be the correct format?

Leaving the current format here for convenience:

[code]

[2018-05-16 08:03] GearoidCollins commented on #57
Hi @edorivai,

Thanks for that, great package by the way.

The first thousand is `,` then it is separated by every hundred there after.
e.g `(100000000).toLocaleString('en-IN')` = `1,00,00,00,000`

[2018-05-16 09:10] edorivai commented on #57
Oh my, I don't think the `accounting` package supports formatting in that fashion.

[2018-05-17 11:57] smirzaei commented on #57
WoW that's interesting...

@edorivai is right! The accounting library doesn't support this kind of formatting.

openexchangerates/accounting.js#113
openexchangerates/accounting.js#141

Personally I'd suggest the `Intl` APIs

[code]

[2018-06-06 20:08] johuder33 commented on #56
@StErMi a PR is just a simple step, but maybe you are out of the time, if you wan to register a currency you could do it liek this

[code]

[2018-06-14 12:49] sanyamagrawal opened #58 "Rounding Off issue"
Is there a reason for the library to convert
currencyFormatter.format(0.999, { code: 'EUR'})

shows "1,00 €"

Is there a reason for this rounding off, and also is there a way to avoid this rounding off ?

[2018-06-15 07:51] smirzaei commented on #58
It's because the precision is set to 2 by default for `EUR`. You can get around it by manually setting the `precision` property.

For example:

[code]

Returns

[code]

[2018-07-25 08:51] ManuMorenoGonzalez opened #60 "1.4.3 error when formatting 0 value"
Version used:
"currency-formatter": "^1.4.3"

Hello, I would like to report about a bug. When I try to change the currency of the value 0, the result is **undefined**.
consolecurrencyFormatter.format(0, { locale: 'en-US' });
//=> undefined

When should be for example:
consolecurrencyFormatter.format(0, { locale: 'en-US' });
// => '$0'
consolecurrencyFormatter.format(0, { locale: 'de-DE' });
//=> '

[2018-07-25 17:14] smirzaei commented on #60
I can't reproduce it. This is what I'm getting:

https://runkit.com/embed/udaibyot0bse

[2018-07-26 09:11] ManuMorenoGonzalez commented on #60
Thank you so much, it is working to me now :)

[2018-07-26 09:11] #60 closed

[2018-07-26 13:57] #58 closed

[2018-08-27 07:12] coderhaoxin opened #66 "can I help to maintain this module?"
My worked company is an FX&Payment company, and we used this module for some internal projects.
Since I noticed that `[NOT ACTIVELY MAINTAINED]` in the project title.

So, I'm glad to help maintain this module :)

[2018-12-02 01:46] shinriyo opened #71 "Just question by my interest."
Did your formatter built in JS by Mozilla?
The function name are absolutely same. I surprised.

[2018-12-02 15:56] smirzaei commented on #71
Interesting... I have no idea.
Could you show us where exactly?

[2018-12-28 13:57] fedeolto opened #72 "Intl is still not a valid substitute for currency-formatter imho"
Hello,
after reading the first lines of the project page, I started substituting currency-formatter usages in my project with Intl, but I'm afraid that the world is not ready for this.
Problems arised when I tried to use it-IT as a locale for some currencies: I use Docker and node 10.10.0-alpine doesn't ship with full-icu (and I find it more than correct, since hardly full-icu would be used) so I

[2018-12-28 14:10] edorivai commented on #72
Just a quick remark on

If this is all you need, you might want to take a look at [accounting.js](http://openexchangerates.github.io/accounting.js/).

[2019-03-01 04:15] kaushalrajopenxcell opened #73 "Wrong currency format for VND (Vietnamese dong)"

[2019-03-04 09:44] kaushalrajopenxcell commented on #73
Can anyone please help?

[2019-03-04 12:44] smirzaei commented on #73
Could you explain a bit please?

[2019-03-15 12:34] CMarshall92 opened #74 "When all text selected, not able to delete text on return key."
When you control + A in the components input box and then hit return/backspace  the component will not clear the input it will deselect and then move to the end of the text string.

![bug](https://user-images.githubusercontent.com/33270926/54431541-996a9200-471e-11e9-845c-2e9bdc20cf85.gif)

[2019-03-15 12:42] edorivai commented on #74
Correct me if I'm wrong, but I don't think this behavior is controlled by this library. I would expect it is controlled by your UI code.

[2019-03-15 12:44] edorivai commented on #74
Actually, thinking about it a bit more, I wouldn't format user input at all. At least not as they are typing.

[2020-06-17 16:34] patilSanchita opened #77 "currencyFormatter.unformat() not working with locale 'ar'"

[2020-06-17 17:43] patilSanchita commented on #77
var tempQ= "1456.45"
 var number = currencyFormatter.unformat(tempQ,{locale:'ar'});
console.log(number); //145645

After applying currencyFormatter.unformat() on tempQ removes the decimal separator.

[2020-07-07 11:50] hummerpj opened #79 "Updating currencies.json or source of currencies.json"
Hi there,

I realize this is no longer maintained but I was curious if you would take a pull request to update the currencies.json file.

Also, can you share where you sourced these values from previously?  I have been searching for a good source of the "decimal" and "thousandths" separators but haven't had any luck as of yet.

Thanks for your time!

[2020-07-09 14:56] smirzaei commented on #79
Hi,

Yes of course, corrections to currency data is always welcome :)

I got it from a company which I used to work at. It was a small startup called ComboTrip. I don't know its exact origin but I asked if I could share it and they were fine with it. (Nothing written though)

[2020-12-24 07:18] chaitra04 opened #81 "IQD decimalDigits is wrong in currencies.json"
I know there is an Internationalization API  for the currency formatting but I opted for this plugin because it does the required job that I needed in my project. It handles currency decimal points very well and also allows to give symbol option as null which was the requirement.

It is working very well but I got to know there is one problem in the currency json file.

IQD currency code which is